#center-container {
    margin-top: 74px;
    grid-area: text;
    display: flex;
    flex-direction: center;
} 

#center-container img {
    height: 151px;
    width: 324px;
    align-self: center;
}

#center-container h2 {
    margin-top: 42px;
    font-family: 'Inter Semibold';
    font-size: 16px;
    align-self: center;
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
    width: 100%;
}

#text-descriptive-container-center {
    margin-left: 20.9%;
    margin-right: 20.9%;
    width: fit-content;
}

#text-descriptive-container-center p {
    font-family: 'Inter Regular';
    font-size: 13px;
    text-align: center;
    color: #606060;
    margin-top: 20px;
    text-align: center;
    width: fit-content;
    line-height: 17px;
}

form {
    display: flex;
    flex-direction: column;
}

#OTPInput {
    align-self: center;
    justify-self: center;
    flex: 1;
}

.form {
    font-family: 'Inter Regular';
    color: black;
    width: 28px;
    height: 50px;
    text-align: center;
    text-shadow: 0 0 0 gray;
    border: 1px solid #979797;
    border-radius: 3px;
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
    transition: none;
    box-shadow: inset 0px 0px 2.7px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    outline: none;
}

#container-continue-button {
    margin-top: 25px;
    display: flex;
    justify-self: right;
    margin-top: auto;
    margin-right: 40px;
    margin-bottom: 6.75%;
}

#continue-button {
    height: 38px;
    width: 127px;
    background-color: #FDE1CE;
    border: 1px solid #EB5E00;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#continue-button-text span {
    font-family: 'Inter Medium';
    color: #CC5200;
    font-size: 16px;
}

#logo-helianthus-cinza {
    margin-right: auto;
    margin-bottom: -73px;
}

#continue-button-arrow {
    margin-left: 11.5px;
}

  #content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header {
        padding-top: 26px;
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
    }
    #logo-helianthus {
        width: 200px;
        height: 45px;
        justify-content: center;
        margin-right: 0px;
    }

    #center-container{
        align-items: center;
        justify-self: center;
        flex: 1;
        margin-top: 40px;
    }

    #center-container h2 {
        margin-top: 17px;
    }

    #main-container {
        width: 93%;
        flex-direction: column;
    }
    
    #text-descriptive-container-center {
        margin-left: 10%;
        margin-right: 10%;
    }@media (max-width: 600px) {
  
}