.loader {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-self: center;
}

.loader img{
    height: 35px;
    width: 35px;
}

#main-container {
    margin-top: 60px;
    height: 628px;
    width: 61.2%;
    background-color: #FCFCFC;
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: #979797;
    border-radius: 3px;
    overflow: hidden;
}

#center-container {
    margin-top: 244px;
    align-items: center;
}

#center-container h2 {
    margin-top: 8px;
    font-family: 'Inter Semibold';
    font-size: 16px;
    align-self: center;
    text-align: center;
    width: 100%;
}

#center-container p {
    font-family: 'Inter Regular';
    font-size: 13px;
    text-align: center;
    color: #606060;
    margin-top: 8px;
    text-align: center;
    width: fit-content;
    line-height: 17px;
    padding-right: 220px;
    padding-left: 220px;
}

#logo-helianthus-cinza {
    margin-right: auto;
    margin-bottom: -153px;
    flex: 1;
}

@media (max-width: 600px) {
    .loader img{
        height: 50px;
        width: 50px;
    }

    #center-container h2 {
        margin-top: 11px;
    }

    #content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header {
        padding-top: 26px;
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: center;
    }
    #logo-helianthus {
        width: 200px;
        height: 45px;
        justify-content: center;
        margin-right: 0px;
    }
    #logo-helianthus-cinza {
        margin-bottom: -127px;
        margin-left: -30px;
    }
    
    #center-container {
        margin-top: 30%;
        align-items: center;
        justify-self: center;
    }

    #center-container p {
        padding-right: 20px;
        padding-left: 20px;
    }

    #main-container {
        width: 93%;
        height: 500px;
    }
}
